*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans';
}
/* Header area styles */
.header-banner{
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
    background-image: url("images/banner/banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0 170px;
}

.header-description h2{
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #151414;
    line-height: 65px;
    margin-bottom: 24px;
}
.header-description p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
    color: #444343;
}
.header-description .contact-btn{
    font-size: 20px;
    color: #FFFFFF;
    background: #FF194F;
    padding: 18px 26px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

/* Personal failure section styles */
.personal-failure{
    padding: 90px 170px 90px 50px ;
}
.about-failure{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.failure-heading{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 24px;
}
.failure-description{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}
.failure-list{
    list-style: none;
    margin-top: 16px;
}
.failure-list li{
    margin-bottom: 8px;
    color: #444343;
}
.failure-list i{
    color: #33DD96;
}

/* Plan area styles */
.my-plan{
    padding: 80px 0;
}
.plan-heading{
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}
.plans{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    text-align: center;
}
.plans h4{
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin: 24px 0 16px 0
}
.plans p{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* Motivation section styles */
.motivation{
    background: linear-gradient(to right, rgba(224, 26, 92, 0.795), rgba(255, 182, 193, 0.432)), url(images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;    
    margin: 100px 200px;
    padding: 55px 60px;
}
.motivation-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.motivation h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
}
.motivation a{
    background-color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    padding: 15px 25px ;
    border: none;
    border-radius: 5px;
    color: #FF194F;
    text-decoration: none;
    margin-top: 20px;
}

/* Contact area styles */
.contact-area{
    padding: 100px 200px;
    background: #151414;
    display: flex;
    gap: 300px;
    color: white;
}
.contact h3{
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
}
.contact p{
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF ;
}
.contact .emailname{
    margin-top: 24px;
    margin-bottom: 16px;
}
.social-icons{
    margin-top: 32px;
}
.social-icons a{
    text-decoration: none;
    margin-right: 18px;
}

.subscribe h4{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 30px;
}

input {
    color: #F3F3F3;
    font-size: 18px;
    padding: 14px 30px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    outline: none;
    background: #151414;
    margin-bottom: 16px;
}
.subscribe-btn{
    font-weight: 600;
    font-size: 20px;
    padding: 15px 25px ;
    color: #FF194F;
    border-radius: 5px;
}

/* bonus-area styles */
.bonus-area{
    padding: 70px 170px;
    text-align: center;
}
.bonus-area h3{
    font-size: 40px;
    margin-bottom: 60px;
}
.bonus{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.bonus img{
    max-width: 200px;
    border-radius: 50%;
}
.bonus-area h4{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.bonus-area p{
    line-height: 27px;
}
.bonus-item{
    background:#dbdada ;
    padding: 40px 20px ;
    color: #000000;
    box-shadow: 5px 5px 16px #dbdada;
    border-radius: 6px;
}